<nav
  class="navbar navbar-expand-lg justify-content-start background-color-3 navbar-mobile"
>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  ></button>
  <!-- dropdown -->

  <div class="d-flex">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button
          class="button nav-link text-dark-bold"
          routerLink="/login"
          routerLinkActive="activebutton"
        >
          <!-- ((click)="al clickar que se habra login y que se cierre") -->
          LOGIN
        </button>
      </li>
      <li class="nav-item">
        <button
          class="button nav-link text-dark-bold"
          routerLink="/contact"
          routerLinkActive="activebutton"
        >
          CONTACT
        </button>
      </li>
<!-- Example single danger button -->
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Action
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>
    </ul>

    <div class="drop-down">
      <div class="wrapper">
        <img src="../../../../assets/en.png" alt="" class="img-language" />
        <div class="selected">English</div>
      </div>
      <i class="fa-solid fa-sort-down"></i>
      <div class="list">
        <div class="item"><img src="../../../../assets/es.png" alt=""></div>
        <div class="text">Spanish</div>
      </div>
    
    </div>
    <form class="form-flex my-2 my-lg-0">
      <!-- <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        /> -->
      <!-- <i class="fa-solid fa-magnifying-glass" aria-label="Search"></i> -->
    </form>
  </div>
</nav>
