.navbar-text-light{
    color:white;
    font-weight: bolder;
}
.navbar-text-light:hover{
    color: orange
}

.text-dark-bold{
    color: black;
    font-weight: bolder;
}

.text-dark-bold:hover{
    color:orange
}

.img-language{
    width: 5%;
}

.wrapper{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.list {
  background-color: #fff;
}

@media (max-width: 992px) {
    .navbar-mobile{
        display: none;
    }
  }
@media (min-width:993px) {
    
}