

.container-personality {
  background-image: url(/assets/sunsetMotor.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100%;
  width: auto;
  margin: 0;
}

.title-promotions {
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900 !important;
}

.promotions-text{
  padding: 20px;
}

@media (max-width: 992px) {
  .hola{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 993px) {

}
