<div class=" div-container text-center background-color-3 ">
      <div class="container-personality">
          <h1 class="center-text position-relative text-color-1">PROMOTIONS</h1>
      </div>
      <i class="fa-solid fa-hourglass-start"></i>
      <h4 class="text-color-5 promotions-text">We currently have no options available.</h4>
      <p class="text-color-1">We are working to bring you the best options to get the Honda of your dreams.
        <3
      </p>
      <i class="fa-solid fa-hourglass-start"></i>
</div>