<div class="div-container text-center background-color-3">
  <div class="container-personality">
    <h1 class="title-promotions position-relative text-color-1">PROMOTIONS</h1>
  </div>
</div>

<div class="container">
  <div class="m-2 mt-5 mb-5 hola">
    <div class="text-center">
      <i class="fas fa-hourglass-start"></i>
    </div>
    <h4 class="text-color-5 promotions-text text-center">
      We currently have no options available.
    </h4>
    <p class="text-color-1 text-center">
      We are working to bring you the best options to get the Honda of your
      dreams. 3
    </p>
    <div class="text-center">
      <i class="fas fa-hourglass-end"></i>
    </div>
  </div>
</div>
