<div class="div-container text-center">
  <div class="container-personality">
    <h1 class="title-complete text-color-3 large bold position-relative">Motocicletas</h1>
    <h2 class="text-color-4 subtitle-complete position-relative">Explora nuestras motos</h2>
    <button class="button-complete text-color-5 position-relative">Descubre más()</button>
  </div>
</div>

<div class="container-grid">
  <div class="container-carousel">
    <div class="container-carousel-element">
      <div class="row d-flex justify-content-center mb-5">
        <div class="row">
          <div
            class="name-model col-12 d-grid justify-content-lg-end justify-content-center"
          >
            <h2>2024 KTM 1390 DUKE</h2>
          </div>
          <div class="line-grid col-md-12 w-100"></div>
        </div>
        <div class="line-grid1 col-lg-12"></div>
        <div class="flex-lg-nowrap flex-lg-row p-1 custom-carousel">
          <div
            class="carousel slide col-md-12 size-carousel d-flex justify-content-center align-items-center carousel-dark carousel-fade"
            id="ktm"
          >
            <div class="carousel-indicators translate-indicators">
              <!-- no olvidar añadir de nuevo los trasladores -->
              <button
                type="button"
                data-bs-target="#ktm"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#ktm"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#ktm"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
              <button
                type="button"
                data-bs-target="#ktm"
                data-bs-slide-to="3"
                aria-label="Slide 4"
              ></button>
              <button
                type="button"
                data-bs-target="#ktm"
                data-bs-slide-to="4"
                aria-label="Slide 5"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active d-flex justify-content-center">
                <img
                  src="/assets/black1390-1.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
              <div class="carousel-item d-flex justify-content-center">
                <img
                  src="/assets/black1390-2.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
              <div class="carousel-item d-flex justify-content-center">
                <img
                  src="/assets/black1390-3.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
              <div class="carousel-item d-flex justify-content-center">
                <img
                  src="/assets/black1390-4.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
              <div class="carousel-item d-flex justify-content-center">
                <img
                  src="/assets/black1390-5.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#ktm"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Photo anterior</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#ktm"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next photo</span>
            </button>
          </div>
          <div
            class="pie-model mt-5 col-md-12 col-lg-5 d-flex flex-wrap align-items-center"
          >
            <p class="text-color-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
              omnis nisi veniam, consectetur quasi soluta tempore assumenda ad
              illum! Illum sunt porro reprehenderit voluptas velit impedit
              minima eveniet corporis atque! Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Qui ea quam consectetur voluptas
              laborum debitis, explicabo voluptatum incidunt quis numquam
              blanditiis mollitia at enim fugit deserunt fugiat consequatur non.
              Reiciendis!
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-carousel-element">
      <div class="row d-flex justify-content-center mb-5">
        <div class="row">
          <div
            class="name-model col-md-12 col-lg-6 d-grid justify-content-lg-start justify-content-center"
          >
            <h2>2024 KTM 990 DUKE</h2>
          </div>
          <div class="line-grid col-md-12 w-100"></div>
        </div>
        <div class="line-grid1 col-lg-12"></div>
        <div class="flex-lg-nowrap flex-row-reverse p-1 custom-carousel">
          <div
            class="carousel slide col-md-12 size-carousel d-flex justify-content-center align-items-center carousel-dark carousel-fade"
            id="ktm2"
          >
            <div class="carousel-indicators translate-indicators">
              <!-- no olvidar añadir de nuevo los trasladores -->
              <button
                type="button"
                data-bs-target="#ktm2"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#ktm2"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#ktm2"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
              <button
                type="button"
                data-bs-target="#ktm2"
                data-bs-slide-to="3"
                aria-label="Slide 4"
              ></button>
              <button
                type="button"
                data-bs-target="#ktm2"
                data-bs-slide-to="4"
                aria-label="Slide 5"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active d-flex justify-content-center">
                <img
                  src="/assets/orange990-1.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
              <div class="carousel-item d-flex justify-content-center">
                <img
                  src="/assets/orange990-2.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
              <div class="carousel-item d-flex justify-content-center">
                <img
                  src="/assets/orange990-3.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
              <div class="carousel-item d-flex justify-content-center">
                <img
                  src="/assets/orange990-4.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
              <div class="carousel-item d-flex justify-content-center">
                <img
                  src="/assets/orange990-5.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#ktm2"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Photo anterior</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#ktm2"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next photo</span>
            </button>
          </div>
          <div
            class="pie-model mt-5 col-md-12 col-lg-5 d-flex flex-wrap align-items-center"
          >
            <p class="text-color-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
              omnis nisi veniam, consectetur quasi soluta tempore assumenda ad
              illum! Illum sunt porro reprehenderit voluptas velit impedit
              minima eveniet corporis atque! Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Qui ea quam consectetur voluptas
              laborum debitis, explicabo voluptatum incidunt quis numquam
              blanditiis mollitia at enim fugit deserunt fugiat consequatur non.
              Reiciendis!
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-carousel-element">
      <div class="row d-flex justify-content-center mb-5">
        <div class="row">
          <div
            class="name-model col-12 d-grid justify-content-lg-end justify-content-center"
          >
            <h2>2024 KTM 790 DUKE</h2>
          </div>
          <div class="line-grid col-md-12 w-100"></div>
        </div>
        <div class="line-grid1 col-lg-12"></div>
        <div class="flex-lg-nowrap flex-lg-row p-1 custom-carousel">
          <div
            class="carousel slide col-md-12 size-carousel d-flex justify-content-center align-items-center carousel-dark carousel-fade"
            id="ktm3"
          >
            <div class="carousel-indicators translate-indicators">
              <!-- no olvidar añadir de nuevo los trasladores -->
              <button
                type="button"
                data-bs-target="#ktm3"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#ktm3"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#ktm3"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
              <button
                type="button"
                data-bs-target="#ktm3"
                data-bs-slide-to="3"
                aria-label="Slide 4"
              ></button>
              <button
                type="button"
                data-bs-target="#ktm3"
                data-bs-slide-to="4"
                aria-label="Slide 5"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active d-flex justify-content-center">
                <img
                  src="/assets/grey790-1.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
              <div class="carousel-item d-flex justify-content-center">
                <img
                  src="/assets/grey790-2.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
              <div class="carousel-item d-flex justify-content-center">
                <img
                  src="/assets/grey790-3.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
              <div class="carousel-item d-flex justify-content-center">
                <img
                  src="/assets/grey790-4.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
              <div class="carousel-item d-flex justify-content-center">
                <img
                  src="/assets/grey790-5.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#ktm3"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Photo anterior</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#ktm3"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next photo</span>
            </button>
          </div>
          <div
            class="pie-model mt-5 col-md-12 col-lg-5 d-flex flex-wrap align-items-center"
          >
            <p class="text-color-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
              omnis nisi veniam, consectetur quasi soluta tempore assumenda ad
              illum! Illum sunt porro reprehenderit voluptas velit impedit
              minima eveniet corporis atque! Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Qui ea quam consectetur voluptas
              laborum debitis, explicabo voluptatum incidunt quis numquam
              blanditiis mollitia at enim fugit deserunt fugiat consequatur non.
              Reiciendis!
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-carousel-element">
      <div class="row d-flex justify-content-center mb-5">
        <div class="row">
          <div
            class="name-model col-md-12 col-lg-6 d-grid justify-content-lg-start justify-content-center"
          >
            <h2>2024 KTM 390 DUKE</h2>
          </div>
          <div class="line-grid col-md-12 w-100"></div>
        </div>
        <div class="line-grid1 col-lg-12"></div>
        <div class="flex-lg-nowrap flex-row-reverse p-1 custom-carousel">
          <div
            class="carousel slide col-md-12 size-carousel d-flex justify-content-center align-items-center carousel-dark carousel-fade"
            id="ktm4"
          >
            <div class="carousel-indicators translate-indicators">
              <!-- no olvidar añadir de nuevo los trasladores -->
              <button
                type="button"
                data-bs-target="#ktm4"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#ktm4"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#ktm4"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
              <button
                type="button"
                data-bs-target="#ktm4"
                data-bs-slide-to="3"
                aria-label="Slide 4"
              ></button>
              <button
                type="button"
                data-bs-target="#ktm4"
                data-bs-slide-to="4"
                aria-label="Slide 5"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active d-flex justify-content-center">
                <img
                  src="/assets/blue390.png"
                  class="w-75"
                  alt="..."
                />
              </div>
              <div class="carousel-item d-flex justify-content-center">
                <img
                  src="/assets/blue390-2.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
              <div class="carousel-item d-flex justify-content-center">
                <img
                  src="/assets/blue390-3.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
              <div class="carousel-item d-flex justify-content-center">
                <img
                  src="/assets/blue390-4.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
              <div class="carousel-item d-flex justify-content-center">
                <img
                  src="/assets/blue390-5.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#ktm4"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Photo anterior</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#ktm4"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next photo</span>
            </button>
          </div>
          <div
            class="pie-model mt-5 col-md-12 col-lg-5 d-flex flex-wrap align-items-center"
          >
            <p class="text-color-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
              omnis nisi veniam, consectetur quasi soluta tempore assumenda ad
              illum! Illum sunt porro reprehenderit voluptas velit impedit
              minima eveniet corporis atque! Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Qui ea quam consectetur voluptas
              laborum debitis, explicabo voluptatum incidunt quis numquam
              blanditiis mollitia at enim fugit deserunt fugiat consequatur non.
              Reiciendis!
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-carousel-element">
      <div class="row d-flex justify-content-center mb-5">
        <div class="row">
          <div
            class="name-model col-12 d-grid justify-content-lg-end justify-content-center"
          >
            <h2>2024 KTM 125 DUKE</h2>
          </div>
          <div class="line-grid col-md-12 w-100"></div>
        </div>
        <div class="line-grid1 col-lg-12"></div>
        <div class="flex-lg-nowrap flex-lg-row p-1 custom-carousel">
          <div
            class="carousel slide col-md-12 size-carousel d-flex justify-content-center align-items-center carousel-dark carousel-fade"
            id="ktm5"
          >
            <div class="carousel-indicators translate-indicators">
              <!-- no olvidar añadir de nuevo los trasladores -->
              <button
                type="button"
                data-bs-target="#ktm5"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#ktm5"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#ktm5"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
              <button
                type="button"
                data-bs-target="#ktm5"
                data-bs-slide-to="3"
                aria-label="Slide 4"
              ></button>
              <button
                type="button"
                data-bs-target="#ktm5"
                data-bs-slide-to="4"
                aria-label="Slide 5"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active d-flex justify-content-center">
                <img
                  src="/assets/blueorange125-1.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
              <div class="carousel-item d-flex justify-content-center">
                <img
                  src="/assets/blueorange125-2.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
              <div class="carousel-item d-flex justify-content-center">
                <img
                  src="/assets/blueorange125-3.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
              <div class="carousel-item d-flex justify-content-center">
                <img
                  src="/assets/blueorange125-4.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
              <div class="carousel-item d-flex justify-content-center">
                <img
                  src="/assets/blueorange125-5.png"
                  class="d-block w-75"
                  alt="..."
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#ktm5"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Photo anterior</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#ktm5"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next photo</span>
            </button>
          </div>
          <div
            class="pie-model mt-5 col-md-12 col-lg-5 d-flex flex-wrap align-items-center"
          >
            <p class="text-color-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
              omnis nisi veniam, consectetur quasi soluta tempore assumenda ad
              illum! Illum sunt porro reprehenderit voluptas velit impedit
              minima eveniet corporis atque! Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Qui ea quam consectetur voluptas
              laborum debitis, explicabo voluptatum incidunt quis numquam
              blanditiis mollitia at enim fugit deserunt fugiat consequatur non.
              Reiciendis!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-products">
    <div class="row filter">
      <div class="find-product col-sm-12 col-lg-9">
        <h2>FIND YOUR PERFECT PRODUCT</h2>
      </div>
      <div class="search col-sm-12 col-lg-3">
        <p>Search by name</p>
      </div>
      <div class="dropdown col-sm-6 col-lg-12">
        <button>DROPDOWN</button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-lg-4 box">
        <div class="background-color-3">
          <div class="d-grid justify-content-center">
            <img
              class="img-carnet pt-2"
              src="/assets/carnetA.png"
              alt="Carné tipo A"
            />
          </div>
          <div class="d-grid justify-content-center">
            <img
              class="img-model-moto"
              src="/assets/hayabusa.png"
              alt="Modelo moto"
            />
          </div>
        </div>
        <div class="name-model-moto text-color-1">SUZUKI HAYABUSA</div>
        <div class="price">22.875 €</div>
      </div>

      <div class="col-sm-12 col-lg-4 box">
        <div class="background-color-3">
          <div class="d-grid justify-content-center">
            <img
              class="img-carnet pt-2"
              src="/assets/carnetA.png"
              alt="Carné tipo A"
            />
          </div>
          <div class="d-grid justify-content-center">
            <img
              class="img-model-moto"
              src="/assets/hayabusa.png"
              alt="Modelo moto"
            />
          </div>
        </div>
        <div class="name-model-moto text-color-1">SUZUKI HAYABUSA</div>
        <div class="price">22.875 €</div>
      </div>

      <div class="col-sm-12 col-lg-4 box">
        <div class="background-color-3">
          <div class="d-grid justify-content-center">
            <img
              class="img-carnet pt-2"
              src="/assets/carnetA.png"
              alt="Carné tipo A"
            />
          </div>
          <div class="d-grid justify-content-center">
            <img
              class="img-model-moto"
              src="/assets/hayabusa.png"
              alt="Modelo moto"
            />
          </div>
        </div>
        <div class="name-model-moto text-color-1">SUZUKI HAYABUSA</div>
        <div class="price">22.875 €</div>
      </div>

      <div class="col-sm-12 col-lg-4 box">
        <div class="background-color-3">
          <div class="d-grid justify-content-center">
            <img
              class="img-carnet pt-2"
              src="/assets/carnetA.png"
              alt="Carné tipo A"
            />
          </div>
          <div class="d-grid justify-content-center">
            <img
              class="img-model-moto"
              src="/assets/hayabusa.png"
              alt="Modelo moto"
            />
          </div>
        </div>
        <div class="name-model-moto text-color-1">SUZUKI HAYABUSA</div>
        <div class="price">22.875 €</div>
      </div>

      <div class="col-sm-12 col-lg-4 box">
        <div class="background-color-3">
          <div class="d-grid justify-content-center">
            <img
              class="img-carnet pt-2"
              src="/assets/carnetA.png"
              alt="Carné tipo A"
            />
          </div>
          <div class="d-grid justify-content-center">
            <img
              class="img-model-moto"
              src="/assets/hayabusa.png"
              alt="Modelo moto"
            />
          </div>
        </div>
        <div class="name-model-moto text-color-1">SUZUKI HAYABUSA</div>
        <div class="price">22.875 €</div>
      </div>

      <div class="col-sm-12 col-lg-4 box">
        <div class="background-color-3">
          <div class="d-grid justify-content-center">
            <img
              class="img-carnet pt-2"
              src="/assets/carnetA.png"
              alt="Carné tipo A"
            />
          </div>
          <div class="d-grid justify-content-center">
            <img
              class="img-model-moto"
              src="/assets/hayabusa.png"
              alt="Modelo moto"
            />
          </div>
        </div>
        <div class="name-model-moto text-color-1">SUZUKI HAYABUSA</div>
        <div class="price">22.875 €</div>
      </div>

      <div class="col-sm-12 col-lg-4 box">
        <div class="background-color-3">
          <div class="d-grid justify-content-center">
            <img
              class="img-carnet pt-2"
              src="/assets/carnetA.png"
              alt="Carné tipo A"
            />
          </div>
          <div class="d-grid justify-content-center">
            <img
              class="img-model-moto"
              src="/assets/hayabusa.png"
              alt="Modelo moto"
            />
          </div>
        </div>
        <div class="name-model-moto text-color-1">SUZUKI HAYABUSA</div>
        <div class="price">22.875 €</div>
      </div>

      <div class="col-sm-12 col-lg-4 box">
        <div class="background-color-3">
          <div class="d-grid justify-content-center">
            <img
              class="img-carnet pt-2"
              src="/assets/carnetA.png"
              alt="Carné tipo A"
            />
          </div>
          <div class="d-grid justify-content-center">
            <img
              class="img-model-moto"
              src="/assets/hayabusa.png"
              alt="Modelo moto"
            />
          </div>
        </div>
        <div class="name-model-moto text-color-1">SUZUKI HAYABUSA</div>
        <div class="price">22.875 €</div>
      </div>

      <div class="col-sm-12 col-lg-4 box">
        <div class="background-color-3">
          <div class="d-grid justify-content-center">
            <img
              class="img-carnet pt-2"
              src="/assets/carnetA.png"
              alt="Carné tipo A"
            />
          </div>
          <div class="d-grid justify-content-center">
            <img
              class="img-model-moto"
              src="/assets/hayabusa.png"
              alt="Modelo moto"
            />
          </div>
        </div>
        <div class="name-model-moto text-color-1">SUZUKI HAYABUSA</div>
        <div class="price">22.875 €</div>
      </div>
    </div>
  </div>
</div>
