<div class="background-color-3">
  <div class="div-container text-center">
    <div class="container-personality">
      <h1 class="title-complete text-color-3 large bold">Motocicletas</h1>
      <h2 class="text-color-4 subtitle-complete">Explora nuestras motos</h2>
      <button class="button-complete text-color-5">Descubre más()</button>
    </div>
  </div>

  <div class="container-grid">
    <div class="row">
      <div class="find-product col-sm-12 col-lg-9">
        <h2>FIND YOUR PERFECT PRODUCT</h2>
      </div>
      <div class="search col-sm-12 col-lg-3">
        <p>Search by name</p>
      </div>
      <div class="dropdown col-sm-6 col-lg-12">
        <button>DROPDOWN</button>
      </div>
    </div>
    <div class="row">
      <div class="box d-block col-sm-12 col-lg-4">
        <!-- se puede hacer con ngTemplate -->

        <img
          class="d-block img-carnet"
          src="../../../../../assets/carnetA.png"
          alt="carnetA"
        />
        <img
          src="../../../../../assets/hayabusa.png"
          alt="Imagén modelo moto"
          class="img-model-moto"
          style="display: block; margin: 0 auto"
        />
        <h3 class="model-name">Suzuki Hayabusa 2022 Anniversary Edition</h3>
        <p>22,000.00€</p>
      </div>

      <div class="col-sm-12 col-lg-4">
        <img
          class="d-block img-carnet"
          src="../../../../../assets/carnetA.png"
          alt="carnetA"
        />
        <img
          src="../../../../../assets/hayabusa.png"
          alt="Imagén modelo moto"
          class="img-model-moto"
          style="display: block; margin: 0 auto"
        />
        <h3 class="model-name">Suzuki Hayabusa 2022 Anniversary Edition</h3>
        <p>22,000.00€</p>
      </div>
      <div class="col-sm-12 col-lg-4">
        <img
          class="d-block img-carnet"
          src="../../../../../assets/carnetA.png"
          alt="carnetA"
        />
        <img
          src="../../../../../assets/hayabusa.png"
          alt="Imagén modelo moto"
          class="img-model-moto"
          style="display: block; margin: 0 auto"
        />
        <h3 class="model-name">Suzuki Hayabusa 2022 Anniversary Edition</h3>
        <p>22,000.00€</p>
      </div>
    </div>
  </div>
</div>
