
.container-personality {
    background-image: url(../../../../../assets/GT-XR-header.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100%;
    width: auto;
    margin: 0;
}

.title-complete{
    font-weight: bolder;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subtitle-complete{
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-complete{
    font-weight: bolder;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-grid{
    margin: 20px;
}

.filter{
    margin-bottom: 20px;
}

.img-carnet{
    width: 100px;
}
.img-model-moto{
    width: 20em;
}