<div class="container-fluid background-color-3 text-center">

    <h3 class="text-center mb-4 pb-2 fw-bold font-size-3 font-size-lg-5 pt-5 text-color-6">FAQ</h3>
    <p class="text-center mb-5 p-5 text-color-3">
      In this section, you will find answers to the most common questions we
      receive. We hope you find this information helpful. Whether you are
      looking for specific details about our services, need assistance with a
      particular issue, or just want to learn more about what we offer, this FAQ
      section is designed to provide you with the answers you need. If you don't
      find the answer you're looking for, please feel free to reach out to our
      support team for further assistance.
    </p>

    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-color-6">
          <i class="far fa-paper-plane text-color-6 pe-2"></i>WHAT IS MOTOXTREME?
        </h6>
        <p class="text-color-3">
          <strong><u>Absolutely!</u></strong> MotoXtreme is a company
          headquartered in London, established in 1998. Since then, we have
          experienced exponential growth and have opened new stores in various
          parts of the country.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-color-6">
          <i class="fas fa-home text-color-6 pe-2"></i> WHERE ARE WE LOCATED?
        </h6>
        <p class="text-color-3">
          <strong><u>This local in London!</u></strong
          >Exactly, we are located at 7 Malet Street, next to Birkbeck
          University.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-color-6">
          <i class="fas fa-user text-color-6 pe-2"></i>DO WE OFFER OFFICIAL WARRANTIES?
        </h6>
        <p class="text-color-3">
          Of course, we offer warranties. As we work with different brands, we
          provide the respective manufacturer's warranty for each motorcycle we
          sell. However, we do not offer a separate warranty ourselves.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-color-6">
          <i class="fas fa-rocket text-color-6 pe-2"></i> DO WE HAVE WORKSHOPS FOR MOTORCLYCLE MAINTENANCE?
        </h6>
        <p class="text-color-3">
          We have our own workshop and work with a highly trained team for the
          maintenance and repair of your motorcycle.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-color-6">
          <i class="fas fa-pen-alt text-color-6 pe-2"></i>ARE THE MOTORCYCLES NEW OR USED?
        </h6>
        <p class="text-color-3">
          <strong><u>Unfortunately no</u>.</strong> We do not issue full or
          partial refunds for any reason.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-color-6">
          <i class="fas fa-book-open text-color-6 pe-2"></i>DO WE SELL OTHER TYPES OF VEHICLES?
        </h6>
        <p class="text-color-3">We do not sell any other type of vehicles besides motorcycles.</p>
      </div>
    </div>

  <div class="d-flex justify-content-center flex-wrap">
    <h2 class="text-color-6 font-size-lg-2">Our location</h2>
    <div class="w-100 col-12">
      <iframe
        width="100%"
        height="600"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Malet%20St,%20London%20WC1E%207HU,%20United%20Kingdom+(MotoXtreme)&amp;t=h&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
        ><a href="https://www.gps.ie/sport-gps/">bike gps</a></iframe
      >
    </div>
  </div>
  <!--Section: FAQ-->
</div>
