<footer class="bg-black text-center">
  <div class="px-4 pt-4">
    <div class="row mt-4">
      <div class="col-lg-4 col-md-6 mb-5 mb-md-5 ">
        <h5 class="text-uppercase mb-4 pb-1 font-size-2">Search something</h5>

        <div class="form-outline form-white mb-4">
          <input
            type="text"
            id="formControlLg"
            class="form-control form-control-lg"
          />
        </div>

        <ul class="fa-ul" style="margin-left: 1.65em">
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-home"></i></span
            ><span>London, Malet St, UK</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-envelope"></i></span
            ><span>motoXtreme@gmail.com</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-phone"></i></span
            ><span>+ 948 08 99 08</span>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-12 mb-5 mb-md-0">
        <h5 class="text-uppercase mb-4 font-size-2">About company</h5>

        <p>
          Company dedicated to the professional sale of 0 km motorcycles.
        </p>
        <section class="mb-4">
          <a
            data-mdb-ripple-init
            class="btn text-white btn-floating m-1"
            style="background-color: #3b5998"
            href="https://www.facebook.com/?locale=es_ES"
            role="button"
            target="_blank"
          >
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a
            data-mdb-ripple-init
            class="btn text-white btn-floating m-1"
            style="background-color: #55acee"
            href="https://twitter.com/?lang=es"
            role="button"
            target="_blank"
          >
            <i class="fa-brands fa-x-twitter"></i>
          </a>
          <a
            data-mdb-ripple-init
            class="btn text-white btn-floating m-1"
            style="background-color: #dd4b39"
            href="https://www.google.com/"
            role="button"
            target="_blank"
          >
            <i class="fa-brands fa-google"></i>
          </a>
          <a
            data-mdb-ripple-init
            class="btn text-white btn-floating m-1"
            style="background-color: #ac2bac"
            href="https://www.instagram.com/"
            role="button"
            target="_blank"
            ><i class="fab fa-instagram"></i>
          </a>
          <a
            data-mdb-ripple-init
            class="btn text-white btn-floating m-1"
            style="background-color: #333333"
            href="https://github.com/"
            role="button"
            target="_blank"
          >
            <i class="fa-brands fa-github"></i>
          </a>
        </section>
      </div>

      <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
        <h5 class="text-uppercase mb-4 font-size-2">Opening hours</h5>

        <table class="table text-center black-text">
          <tbody>
            <tr>
              <td>Mon - Thu:</td>
              <td>8am - 9pm</td>
            </tr>
            <tr>
              <td>Fri - Sat:</td>
              <td>8am - 1am</td>
            </tr>
            <tr>
              <td>Sunday:</td>
              <td>CLOSE</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div
    class="text-center p-3 text-light-bold"
    style="background-color: rgba(0, 0, 0, 0.05)"
  >
    © 2024 Copyright:
    <a class="text-light" href="https://github.com/dyaguanab/motoXtreme"
      >MOTOXTREME</a
    >
  </div>
</footer>
