<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

    <div class="collapse navbar-collapse"  id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button class="button nav-link text-light-bold" routerLink="/complete"      routerLinkActive="activebutton"
                >COMPLETE</button>
            </li>
            <li class="nav-item">
                <button class="button nav-link text-light-bold" routerLink="/accesories"      routerLinkActive="activebutton"
                >ACCESORIES</button>
            </li>
            <li class="nav-item">
                <button class="button nav-link text-light-bold" routerLink="/promotions"      routerLinkActive="activebutton"
                >PROMOTIONS</button>
            </li>
            <li class="nav-item">
                <button class="button nav-link text-light-bold" routerLink="/xbow"      routerLinkActive="activebutton"
                >X-BOW</button>
            </li>
            <li class="nav-item">
                <button class="button nav-link text-light-bold" routerLink="/experience"      routerLinkActive="activebutton"
                >EXPERIENCE XTREME</button>
            </li>
            <li class="nav-item">
                <button class="button nav-link text-light-bold" routerLink="/support"      routerLinkActive="activebutton"
                >SUPPORT</button>
            </li>
        </ul>
    </div>
    <div class="img-container"><img src="../../../assets/logoEmpresa.png" class="position-absolute" alt="Logo empresa"></div>
</div>
</nav>
