.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

img {
  width: 150px;
  height: 100px;
  font-weight: bolder;
  position: relative;
}

@media (max-width: 991px) {
  .logo2 {
    display: none;
  }
}

@media (min-width: 992px) {
  .logo1 {
    display: none;
  }

  .secondNavbar {
    display: none;
  }
}
