img {
    width: 350px;
    height: 350px;
    top: 50%;
    right: -10%;
    transform: translate(-50%, -50%);
    font-weight: bolder;}

.text-light-bold{
    color:white;
    font-weight: bold;
}

.text-light-bold:hover{
    color: red
}