.container-fluid {
    background-color: rgb(148, 64, 49);
    color: white;
    height: 100vh;
}

.container-personality {
    background-image: url(../../../../../assets/accesories.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

h1::before {
    content: "";
    background: orange;
    display: block;
    height: 2px;
    margin-bottom: 19px;
    width: 45px;
}

.title-xbow{
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
}

.subtitle-xbow{
    font-weight: bolder;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-xbow{
    font-weight: bolder;
    top: 50%;
    left: 13%;
    transform: translate(-50%, -50%);
}