.container-fluid {
  background-color: rgb(148, 64, 49);
  color: white;
  height: 100vh;
}

.container-personality {
  background-image: url(/assets/accesories/accesories.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

.title-accesories {
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  padding: 10px;
}

.title-accesories-2 {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  padding: 10px;
}

.button-accesories {
    top: 65%;
    left: 0%;
}

.container-originalAccesories {
  margin: 1rem;
}

.container-catalogs {
  margin: 0;
}

.intro {
  margin: 20px;
  margin-bottom: 10%;
}

.img-acesorie-box {
  width: 100%;
}

.accesorie-box {
  margin: 0;
}

.accesorie-box:hover {
  background-color: #272625 !important;
}

.accesorie-box:hover .text-color-1 {
  color: white !important;
}

.config {
  margin: 20px;
}

.head-config {
  width: 100%;
}

.img-config {
  width: 100%;
  height: 100%;
}

.p-configure {
  padding: 15px 15px;
  margin-bottom: 0 !important;
}

.accesories-title-video {
  padding: 5rem 0 3rem 0;
}

.ktm-container{
  padding: 15px 15px;
}

.image-video-wrp {
  margin: 0px;
}

.image-video-wrp figure {
  position: relative;
  margin: 0;
}

.image-video-wrp figure .thumblin {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.image-video-wrp figure .thumblin2 {
  height: 500px;
  object-fit: cover;
  width: 100%;
}

.image-video-wrp figure iframe {
  height: 265px;
  object-fit: cover;
  width: 100%;
}

.play-icon-box {
  position: absolute;
  right: 25px;
  bottom: -20px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}

.play-icon-box2 {
  position: absolute;
  left: 145px;
  bottom: 100px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}

.play-icon-box img {
  position: relative;
  left: 2px;
}

.text-video{
  margin: 20px;
}

.img-complement{
  width: 100%;
  height: 200px;
}

.carouselAccesories{
  width: 100% !important;
}
@media (max-width: 992px) {
  .container-originalAccesories {
    display: none;
  }
}
@media (min-width: 993px) {
  .title-accesories{
    top: 25% ;
  }

  .button-accesories {
    top: 80%;
    left: 0%;
  }
  .carouselAccesories {
    display: none;
  }

  .container-originalAccesories {
    margin: 4rem;
  }

  .img.config {
    width: 100%;
    height: 100%;
  }

  .p-configure {
    padding: 10% 10%;
    margin-bottom: 0 !important;
  }
}
