<div class="div-container text-center">
  <div class="container-personality">
    <h1 class="title-accesories text-color-2 large position-relative">
      ACCESORIES CATALOGS
    </h1>
  </div>
</div>

<div class="container">
  <div class="pie-background mt-5">
    <p class="text-color-2 text-center">
      MAKE YOUR MOTORCYCLE YOURS WITH HIGH-QUALITY ACCESSORIES. <br />
      ALL MOTORBIKES ACCESSORIES COME WITH A WARRANTY FOR YOUR PEACE OF MIND.
    </p>
  </div>

  <div id="carouselAccesories" class="carousel slide carouselAccesories mt-5">
    <h2 class="text-color-1 text-center">
      ORIGINAL ACCESORIES OF DIFFERENT BRANDS
    </h2>
    <div class="carousel-inner">
      <div class="carousel-item active p-1">
        <img
          src="../../../../../assets/accesories-1.png"
          class="d-block w-100"
          alt="..."
        />
        <h3 class="mt-2 text-color-1">Customer focused</h3>
        <p class="text-color-3">
          Our pilots know the way better than anyone. That's why at Honda we
          design our products in collaboration with true experts: our customers.
        </p>
      </div>
      <div class="carousel-item p-1">
        <img
          src="../../../../../assets/accesories-2.png"
          class="d-block w-100"
          alt="..."
        />
        <h3 class="mt-2 text-color-1">Harmonious design</h3>
        <p class="text-color-3">
          Genuine Kawasaki accessories are designed along with our motorcycles
          to be completely functional and complementary, both for the motorcycle
          and for your ride.
        </p>
      </div>
      <div class="carousel-item p-1">
        <img
          src="../../../../../assets/accesories-3.png"
          class="d-block w-100"
          alt="..."
        />
        <h3 class="mt-2 text-color-1">Innovation and quality</h3>
        <p class="text-color-3">
          Our designers work at the forefront of R&D. We are so confident in the
          quality of our accessories that we offer a 2-year warranty.
        </p>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselAccesories"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselAccesories"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="container-originalAccesories text-center">
  <div class="row">
    <h2 class="text-color-1 text-center m-4">
      ORIGINAL ACCESORIES OF DIFFERENT BRANDS
    </h2>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div>
        <img
          src="../../../../../assets/accesories-1.png"
          class="d-block w-100"
          alt="..."
        />
        <h3 class="mt-2 text-color-1">Customer focused</h3>
        <p class="text-color-3">
          Our pilots know the way better than anyone. That's why at Honda we
          design our products in collaboration with true experts: our customers.
        </p>
      </div>
    </div>
    <div class="col-lg-4">
      <img
        src="../../../../../assets/accesories-2.png"
        class="d-block w-100"
        alt="..."
      />
      <h3 class="mt-2 text-color-1">Harmonious design</h3>
      <p class="text-color-3">
        Genuine Honda accessories are designed along with our motorcycles to be
        completely functional and complementary, both for the motorcycle and for
        your ride.
      </p>
    </div>
    <div class="col-lg-4">
      <img
        src="../../../../../assets/accesories-3.png"
        class="d-block w-100"
        alt="..."
      />
      <h3 class="mt-2 text-color-1">Innovation and quality</h3>
      <p class="text-color-3">
        Our designers work at the forefront of R&D. We are so confident in the
        quality of our accessories that we offer a 2-year warranty.
      </p>
    </div>
  </div>
</div>

<div class="intro">
  <h2 class="text-color-1 my-5 ms-3 large">CONSULT THE CATALOGS</h2>
  <!-- aqui va a ir un grid, dentro de cada celda un boton de descargar un pdf y fueraaaaaaaaaa, -->
  <div class="container-catalogs text-center">
    <div class="row">
      <div class="col-lg-4 col-md-12 accesorie-box p-3">
        <h3 class="text-color-1">Super Sport</h3>
        <img
          class="img-acesorie-box"
          src="/assets/accesories/superSport.png"
          alt=""
        />
      </div>
      <div class="col-lg-4 col-md-12 accesorie-box p-3">
        <h3 class="text-color-1">Touring</h3>
        <img
          class="img-acesorie-box"
          src="/assets/accesories/touring.png"
          alt=""
        />
      </div>
      <div class="col-lg-4 col-md-12 accesorie-box p-3">
        <h3 class="text-color-1">Adventure</h3>
        <img
          class="img-acesorie-box"
          src="/assets/accesories/trail.png"
          alt=""
        />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-12 accesorie-box p-3">
        <h3 class="text-color-1">Street</h3>
        <img
          class="img-acesorie-box"
          src="/assets/accesories/street.png"
          alt=""
        />
      </div>
      <div class="col-lg-4 col-md-12 accesorie-box p-3">
        <h3 class="text-color-1">Custom</h3>
        <img
          class="img-acesorie-box"
          src="/assets/accesories/custom.png"
          alt=""
        />
      </div>
      <div class="col-lg-4 col-md-12 accesorie-box p-3">
        <h3 class="text-color-1">125 cc</h3>
        <img
          class="img-acesorie-box"
          src="/assets/accesories/125cc.png"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<div class="config background-color-3 border-color-5">
  <div class="row">
    <div class="col-lg-9 d-flex justify-content-center">
      <img class="img-config" src="/assets/accesories/hayabusa.png" alt="" />
    </div>
    <div class="col-lg-3 d-flex flex-wrap align-items-center ">
      <div class="head-config d-flex justify-content-center flex-wrap">
        <h3 class="text-color-1">Configure your motorcycle accessories</h3>
        <p class="p-configure text-color-3">
          Visit our configurator to add accessories to your Honda motorcycle and
          contact your local dealer. The configurator also includes accessory
          part numbers – easy reference for current owners.
        </p>
        <button class="text-color-1">Configure</button>
      </div>

    </div>
  </div>
</div>
