.container-fluid {
  background-color: rgb(148, 64, 49);
  color: white;
  height: 100vh;
}

.container-personality {
  background-image: url(/assets/accesories.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
}

h1::before {
  content: "";
  background: orange;
  display: block;
  height: 2px;
  margin-bottom: 19px;
  width: 45px;
}

.title-accesories {
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bolder;
}

.container-originalAccesories {
  margin: 1rem;
}

.container-catalogs {
  margin: 0;
}

.intro {
  margin: 20px;
  margin-bottom: 10%;
}

.img-acesorie-box {
  width: 100%;
}

.accesorie-box {
  margin: 0;
}

.accesorie-box:hover {
  background-color: #272625 !important;
}

.accesorie-box:hover .text-color-1 {
  color: white !important;
}

.config {
margin: 20px
}

.head-config {
  width: 100%;
}

.img-config {
  width: 100%;
  height: 100%;
}

.p-configure{
    padding: 15px 15px;
    margin-bottom: 0 !important;
}

@media (max-width: 992px) {
  .container-originalAccesories {
    display: none;
  }
}
@media (min-width: 993px) {
  .carouselAccesories {
    display: none;
  }

  .container-originalAccesories {
    margin: 4rem;
  }

  .img.config {
    width: 100%;
    height: 110%;
  }

  .p-configure{
    padding-left: 0;
    margin-bottom: 0 !important;
}
}
