@font-face {
  font-family: "Quickstep";
  src: url(fonts/Quickstep.otf);
}

* {
  font-family: "Quickstep";
  font-weight: 100 !important;
}

p {
  font-family: "Quickstep";
  font-weight: 200 !important;
}

h1,
h2,
h3,
h4 {
  font-family: "Quickstep";
  font-weight: bolder;
}

.background-color-1 {
  background-color: #272625 !important;
}

.background-color-2 {
  background-color: #61636b !important;
}

.background-color-3 {
  background-color: #282424 !important;
}

.background-color-4 {
  background-color: #30302f !important;
}

.background-color-5 {
  background-color: #0c225d !important;
}

.text-color-1 {
  color: #272625 !important;
}

.text-color-2 {
  color: #61636b !important;
}

.text-color-3 {
  color: #e1e0e3 !important;
}

.text-color-4 {
  color: #30302f !important;
}

.text-color-5 {
  color: #0c225d !important;
}

.text-color-6{
  color: #ffa200 !important;
}

.border-color-1 {
  border: 2px solid #272625 !important;
}

.border-color-2 {
  border: 2px solid #61636b !important;
}

.border-color-3 {
  border: 2px solid #30302f !important;
}

.border-color-4 {
  border: 2px solid #30302f !important;
}

.border-color-5 {
  border: 2px solid #0c225d !important;
}

.div-container {
  height: 90vh;
}

.large {
  font-size: 2.5rem;
}

.bold {
  font-weight: bold !important;
}

.font-size-1 {
  font-size: 1.2em;
}

.font-size-15 {
  font-size: 1.5em;
}
.font-size-2 {
  font-size: 2em;
}

.font-size-3 {
  font-size: 3em;
}

.font-size-4 {
  font-size: 4em;
}

.font-size-5 {
  font-size: 5em;
}

.text-light-bold {
  color: white;
  font-weight: bold;
  padding-left: 10px;
}

.text-dark-bold {
  color: #30302f;
  font-weight: bold;
  padding-left: 10px;
}

.text-dark-bold:hover {
  color: orange;
}

.text-light-bold:hover {
  color: orange;
}

.text-shadow-white{
  text-shadow:
  2px 2px 0 white,
  -2px -2px 0 white,
  2px -2px 0 white,
  -2px 2px 0 white,
  2px 0 0 white,
  -2px 0 0 white,
  0 2px 0 white,
  0 -2px 0 white;
}

button:hover {
  color: #ffa200 !important;
  border-color: #ffa200 !important;
}
@media (min-width: 993px) {
  .font-size-lg-1 {
    font-size: 1.2em !important;
  }

  .font-size-lg-15{
    font-size: 1.5em !important;

  }
  .font-size-lg-2 {
    font-size: 2em !important;
  }

  .font-size-lg-3 {
    font-size: 3em !important;
  }

  .font-size-lg-4 {
    font-size: 4em !important;
  }

  .font-size-lg-5 {
    font-size: 5em !important;
  }
}
